
.vs/UWPSoundBoard/v16/.suo
.vs/UWPSoundBoard/v16/Server/sqlite3/db.lock
.vs/UWPSoundBoard/v16/Server/sqlite3/storage.ide
.vs/UWPSoundBoard/v16/Server/sqlite3/storage.ide-shm
.vs/UWPSoundBoard/v16/Server/sqlite3/storage.ide-wal
UWPSoundBoard/obj/ARM/Debug/App.g.cs
UWPSoundBoard/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UWPSoundBoard/obj/ARM/Debug/UWPSoundBoard.csprojAssemblyReference.cache
UWPSoundBoard/obj/ARM/Debug/XamlSaveStateFile.xml
UWPSoundBoard/obj/project.assets.json
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.cache
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.dgspec.json
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.g.props
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.g.targets
UWPSoundBoard/obj/x86/Debug/App.g.cs
UWPSoundBoard/obj/x86/Debug/App.g.i.cs
UWPSoundBoard/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UWPSoundBoard/obj/x86/Debug/MainPage.g.cs
UWPSoundBoard/obj/x86/Debug/MainPage.g.i.cs
UWPSoundBoard/obj/x86/Debug/UWPSoundBoard.csprojAssemblyReference.cache
UWPSoundBoard/obj/x86/Debug/XamlSaveStateFile.xml
UWPSoundBoard/obj/x86/Debug/XamlTypeInfo.g.cs
UWPSoundBoard/bin/x86/Debug/App.xbf
UWPSoundBoard/bin/x86/Debug/AppX/App.xbf
UWPSoundBoard/bin/x86/Debug/AppX/AppxManifest.xml
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Animals/Cat.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Animals/Cow.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Cartoons/Gun.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Cartoons/Spring.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Taunts/Clock.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Taunts/LOL.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Warnings/Ship.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Audio/Warnings/Siren.wav
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Icons/animals.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Icons/cartoon.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Icons/taunt.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Icons/warning.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Animals/Cat.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Animals/Cow.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Cartoons/Gun.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Cartoons/Spring.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Taunts/Clock.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Taunts/LOL.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Warnings/Ship.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Images/Warnings/Siren.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/LockScreenLogo.scale-200.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/1240x1240.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/1240x600.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/24x24-large.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/24x24.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/300x300.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/310x310.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/50x50-large.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/50x50.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/620x300.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/71x71-large.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/71x71.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/88x88-large.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/PackageAppXManifest/88x88.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/SplashScreen.scale-200.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Square150x150Logo.scale-200.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Square44x44Logo.scale-200.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/StoreLogo.png
UWPSoundBoard/bin/x86/Debug/AppX/Assets/Wide310x150Logo.scale-200.png
UWPSoundBoard/bin/x86/Debug/AppX/entrypoint/UWPSoundBoard.exe
UWPSoundBoard/bin/x86/Debug/AppX/MainPage.xbf
UWPSoundBoard/bin/x86/Debug/AppX/Microsoft.UI.Xaml.Markup.winmd
UWPSoundBoard/bin/x86/Debug/AppX/Properties/Default.rd.xml
UWPSoundBoard/bin/x86/Debug/AppX/resources.pri
UWPSoundBoard/bin/x86/Debug/AppX/System.Runtime.dll
UWPSoundBoard/bin/x86/Debug/AppX/UWPSoundBoard.exe
UWPSoundBoard/bin/x86/Debug/AppX/UWPSoundBoard.xr.xml
UWPSoundBoard/bin/x86/Debug/AppX/vs.appxrecipe
UWPSoundBoard/bin/x86/Debug/AppX/WinMetadata/Windows.winmd
UWPSoundBoard/bin/x86/Debug/AppxManifest.xml
UWPSoundBoard/bin/x86/Debug/Core/AppxManifest.xml
UWPSoundBoard/bin/x86/Debug/Core/UWPSoundBoard.exe
UWPSoundBoard/bin/x86/Debug/MainPage.xbf
UWPSoundBoard/bin/x86/Debug/Microsoft.UI.Xaml.Markup.winmd
UWPSoundBoard/bin/x86/Debug/resources.pri
UWPSoundBoard/bin/x86/Debug/System.Runtime.dll
UWPSoundBoard/bin/x86/Debug/UWPSoundBoard.build.appxrecipe
UWPSoundBoard/bin/x86/Debug/UWPSoundBoard.exe
UWPSoundBoard/bin/x86/Debug/UWPSoundBoard.pdb
UWPSoundBoard/bin/x86/Debug/UWPSoundBoard.xr.xml
UWPSoundBoard/obj/x86/Debug/.winmd_cache/$Microsoft.UI.Xaml.Markup.winmd_636885562160000000.json
UWPSoundBoard/obj/x86/Debug/App.xaml
UWPSoundBoard/obj/x86/Debug/App.xbf
UWPSoundBoard/obj/x86/Debug/embed/embed.resfiles
UWPSoundBoard/obj/x86/Debug/embed/embed.resfiles.intermediate
UWPSoundBoard/obj/x86/Debug/excluded.layout.resfiles
UWPSoundBoard/obj/x86/Debug/excluded.layout.resfiles.intermediate
UWPSoundBoard/obj/x86/Debug/filtered.layout.resfiles
UWPSoundBoard/obj/x86/Debug/filtered.layout.resfiles.intermediate
UWPSoundBoard/obj/x86/Debug/intermediatexaml/UWPSoundBoard.exe
UWPSoundBoard/obj/x86/Debug/intermediatexaml/UWPSoundBoard.pdb
UWPSoundBoard/obj/x86/Debug/MainPage.xaml
UWPSoundBoard/obj/x86/Debug/MainPage.xbf
UWPSoundBoard/obj/x86/Debug/MultipleQualifiersPerDimensionFound.txt
UWPSoundBoard/obj/x86/Debug/pri.resfiles
UWPSoundBoard/obj/x86/Debug/pri.resfiles.intermediate
UWPSoundBoard/obj/x86/Debug/priconfig.xml
UWPSoundBoard/obj/x86/Debug/priconfig.xml.intermediate
UWPSoundBoard/obj/x86/Debug/ProjectArchitectures.txt
UWPSoundBoard/obj/x86/Debug/qualifiers.txt
UWPSoundBoard/obj/x86/Debug/qualifiers.txt.intermediate
UWPSoundBoard/obj/x86/Debug/ResourceHandlingTask.state
UWPSoundBoard/obj/x86/Debug/resources.resfiles
UWPSoundBoard/obj/x86/Debug/resources.resfiles.intermediate
UWPSoundBoard/obj/x86/Debug/unfiltered.layout.resfiles
UWPSoundBoard/obj/x86/Debug/unfiltered.layout.resfiles.intermediate
UWPSoundBoard/obj/x86/Debug/UWPSoundBoard.csproj.CopyComplete
UWPSoundBoard/obj/x86/Debug/UWPSoundBoard.csproj.FileListAbsolute.txt
UWPSoundBoard/obj/x86/Debug/UWPSoundBoard.exe
UWPSoundBoard/obj/x86/Debug/UWPSoundBoard.pdb
UWPSoundBoard/obj/x86/Debug/UWPSoundBoard.xr.xml
