
.vs/UWPSoundBoard/v16/.suo
.vs/UWPSoundBoard/v16/Server/sqlite3/db.lock
.vs/UWPSoundBoard/v16/Server/sqlite3/storage.ide
.vs/UWPSoundBoard/v16/Server/sqlite3/storage.ide-shm
.vs/UWPSoundBoard/v16/Server/sqlite3/storage.ide-wal
UWPSoundBoard/obj/ARM/Debug/App.g.cs
UWPSoundBoard/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UWPSoundBoard/obj/ARM/Debug/UWPSoundBoard.csprojAssemblyReference.cache
UWPSoundBoard/obj/ARM/Debug/XamlSaveStateFile.xml
UWPSoundBoard/obj/project.assets.json
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.cache
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.dgspec.json
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.g.props
UWPSoundBoard/obj/UWPSoundBoard.csproj.nuget.g.targets
UWPSoundBoard/obj/x86/Debug/App.g.cs
UWPSoundBoard/obj/x86/Debug/App.g.i.cs
UWPSoundBoard/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UWPSoundBoard/obj/x86/Debug/MainPage.g.cs
UWPSoundBoard/obj/x86/Debug/MainPage.g.i.cs
UWPSoundBoard/obj/x86/Debug/UWPSoundBoard.csprojAssemblyReference.cache
UWPSoundBoard/obj/x86/Debug/XamlSaveStateFile.xml
UWPSoundBoard/obj/x86/Debug/XamlTypeInfo.g.cs
